{
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "printWidth": 100,
  "arrowParens": "avoid",
  "svelteSortOrder": "options-scripts-styles-markup",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "all",
  "semi": true
}
